<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>ChartSample</display-name>
  <filter>
    <filter-name>ExriaFilter</filter-name>
    <filter-class>org.exria.filter.ExriaFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ExriaParserFilter</filter-name>
    <filter-class>org.exria.parser.ExriaParserFilter</filter-class>
    <init-param>
      <param-name>resource.base.url</param-name>
      <param-value>/ChartSample/</param-value>
    </init-param>
    <init-param>
      <param-name>service.base.url</param-name>
      <param-value>/ChartSample/</param-value>
    </init-param>
    <init-param>
      <param-name>exria.clientframework.batch.type</param-name>
      <param-value>Compress</param-value>
    </init-param>
    <init-param>
      <param-name>exria.client.framework.path</param-name>
      <param-value>/WEB-INF/client/eXria.zip</param-value>
    </init-param>
    <init-param>
      <param-name>exria.client.framework.minify</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>exria.ui.template.path</param-name>
      <param-value>/WEB-INF/client/template_xhtml.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExriaFilter</filter-name>
    <url-pattern>*.ex</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExriaParserFilter</filter-name>
    <url-pattern>*.xrf</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExriaParserFilter</filter-name>
    <url-pattern>*.ui</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExriaParserFilter</filter-name>
    <url-pattern>/exria.js</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>org.exria.license.LicenseInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>org.exria.framework.ApplicationController</servlet-class>
    <init-param>
      <param-name>exria.application.locator</param-name>
      <param-value />
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>*.ex</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>

