<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OMC_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>tiles</servlet-name>
    <servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>lecConfirmAjaxServlet</servlet-name>
    <servlet-class>com.OMC.dtos.lectureapply.ajax.LecConfirmAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecConfirmAjaxServlet</servlet-name>
    <url-pattern>/lecConfirmAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchAjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.SearchAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchAjaxServlet</servlet-name>
    <url-pattern>/searchAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search2AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.Search2AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search2AjaxServlet</servlet-name>
    <url-pattern>/search2AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>select12AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.Select12AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select12AjaxServlet</servlet-name>
    <url-pattern>/select12AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>select22AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.Select22AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select22AjaxServlet</servlet-name>
    <url-pattern>/select22AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search3AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.Search3AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search3AjaxServlet</servlet-name>
    <url-pattern>/search3AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proSearch1AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.ProSearch1AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proSearch1AjaxServlet</servlet-name>
    <url-pattern>/proSearch1AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proSearch2AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.ProSearch2AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proSearch2AjaxServlet</servlet-name>
    <url-pattern>/proSearch2AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proSearch3AjaxServlet</servlet-name>
    <servlet-class>com.OMC.ajax.ProSearch3AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proSearch3AjaxServlet</servlet-name>
    <url-pattern>/proSearch3AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lectureSearchAjaxServlet</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LectureSearchAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lectureSearchAjaxServlet</servlet-name>
    <url-pattern>/lectureSearchAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lectureSearchAjaxServlet2</display-name>
    <servlet-name>lectureSearchAjaxServlet2</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LectureSearchAjaxServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lectureSearchAjaxServlet2</servlet-name>
    <url-pattern>/lectureSearchAjaxServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lectureSearchAjaxServlet3</display-name>
    <servlet-name>lectureSearchAjaxServlet3</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LectureSearchAjaxServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lectureSearchAjaxServlet3</servlet-name>
    <url-pattern>/lectureSearchAjaxServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lectureSearchAjaxServlet4</display-name>
    <servlet-name>lectureSearchAjaxServlet4</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LectureSearchAjaxServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lectureSearchAjaxServlet4</servlet-name>
    <url-pattern>/lectureSearchAjaxServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kyosuSearchAjaxServlet</display-name>
    <servlet-name>kyosuSearchAjaxServlet</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.KyosuSearchAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kyosuSearchAjaxServlet</servlet-name>
    <url-pattern>/kyosuSearchAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kyosuSearchAjaxServlet1</display-name>
    <servlet-name>kyosuSearchAjaxServlet1</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.KyosuSearchAjaxServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kyosuSearchAjaxServlet1</servlet-name>
    <url-pattern>/kyosuSearchAjaxServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lecturePlanAjaxServlet</display-name>
    <servlet-name>lecturePlanAjaxServlet</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LecturePlanAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturePlanAjaxServlet</servlet-name>
    <url-pattern>/lecturePlanAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lecturePlanAjaxServlet1</display-name>
    <servlet-name>lecturePlanAjaxServlet1</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LecturePlanAjaxServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturePlanAjaxServlet1</servlet-name>
    <url-pattern>/lecturePlanAjaxServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kyosuSearchAjaxServlet2</display-name>
    <servlet-name>kyosuSearchAjaxServlet2</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.KyosuSearchAjaxServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kyosuSearchAjaxServlet2</servlet-name>
    <url-pattern>/kyosuSearchAjaxServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kyosuSearchAjaxServlet3</display-name>
    <servlet-name>kyosuSearchAjaxServlet3</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.KyosuSearchAjaxServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kyosuSearchAjaxServlet3</servlet-name>
    <url-pattern>/kyosuSearchAjaxServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lecturePlanAjaxServlet2</display-name>
    <servlet-name>lecturePlanAjaxServlet2</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LecturePlanAjaxServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturePlanAjaxServlet2</servlet-name>
    <url-pattern>/lecturePlanAjaxServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lecturePlanAjaxServlet3</display-name>
    <servlet-name>lecturePlanAjaxServlet3</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LecturePlanAjaxServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturePlanAjaxServlet3</servlet-name>
    <url-pattern>/lecturePlanAjaxServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>classesAjaxServlet</servlet-name>
    <servlet-class>com.OMC.dtos.lectureapply.ajax.classesAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classesAjaxServlet</servlet-name>
    <url-pattern>/classesAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>stuSearchAjaxServlett</display-name>
    <servlet-name>stuSearchAjaxServlett</servlet-name>
    <servlet-class>com.OMC.dtos.lectureapply.ajax.StuSearchAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stuSearchAjaxServlett</servlet-name>
    <url-pattern>/stuSearchAjaxServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lecturePlanAjaxServlet4</display-name>
    <servlet-name>lecturePlanAjaxServlet4</servlet-name>
    <servlet-class>com.OMC.dtos.search.ajax.LecturePlanAjaxServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lecturePlanAjaxServlet4</servlet-name>
    <url-pattern>/lecturePlanAjaxServlet4</url-pattern>
  </servlet-mapping>
</web-app>